@model ZoombracoDemo.Logic.Models.NestedCheque

<div>
    @{
        var routlink = "/umbraco/surface/Cheque/Index" + "?cn=" + Model.ChequeName + "&cd=" + Model.ChequeDate.ToString("dd/MM/yyyy") + "&ca=" + Model.ChequeAmount + "&cp=" + Model.ChequePay;
     }
    
    @Model.ChequeName
    <br/>
    @Model.ChequeDate.ToString("dd/MM/yyyy")
    <br />
    $ @Model.ChequeAmount
    <br />
    @Model.ChequePay
    <br/>
    <a href="@routlink">Details</a>
</div>
<br />
<br/>
